doc/Tutorials/device-integration/connecting-node-red-to-kaa/attach/code/kaa_node-red_flow_bme280.json
[
  {
    "id": "7eddf7e8.3a94e8",
    "type": "tab",
    "label": "kaa_client",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d80332d4.79c1b",
    "type": "inject",
    "z": "7eddf7e8.3a94e8",
    "name": "Metadata Update",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "9b07caac.e1fce8"
      ]
    ]
  },
  {
    "id": "288fc079.cc7d4",
    "type": "mqtt out",
    "z": "7eddf7e8.3a94e8",
    "name": "Kaa KPC",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "ccf67e66.fe83c",
    "x": 700,
    "y": 260,
    "wires": []
  },
  {
    "id": "e5b6ee2a.8f12a",
    "type": "debug",
    "z": "7eddf7e8.3a94e8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 710,
    "y": 340,
    "wires": []
  },
  {
    "id": "9b07caac.e1fce8",
    "type": "function",
    "z": "7eddf7e8.3a94e8",
    "name": "Metadata",
    "func": "var deviceToken = global.get('DeviceToken');\nvar appVersion = global.get('AppVersion');\n\nmsg.topic = 'kp1/' + appVersion + '/epmx/' + deviceToken + '/update/keys';\n\nmsg.payload = {\n    \"model\": \"Node Red\",\n    \"works\": true,\n    \"model\": \"BME/BMP 280\",\n    \"fwVersion\": \"v0.0.1\",\n    \"latitude\": 40.71427,\n    \"longitude\": -74.00597,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 180,
    "wires": [
      [
        "288fc079.cc7d4",
        "bab967a5.742038"
      ]
    ]
  },
  {
    "id": "ac51a783.266c18",
    "type": "inject",
    "z": "7eddf7e8.3a94e8",
    "name": "Send Telemetry",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": "1.5",
    "x": 150,
    "y": 340,
    "wires": [
      [
        "1bd2fecf.dd9661"
      ]
    ]
  },
  {
    "id": "339bb634.0c571a",
    "type": "comment",
    "z": "7eddf7e8.3a94e8",
    "name": "Sending Metadata to Kaa",
    "info": "Example of sending metadata to kaa",
    "x": 150,
    "y": 140,
    "wires": []
  },
  {
    "id": "10fe191f.579067",
    "type": "comment",
    "z": "7eddf7e8.3a94e8",
    "name": "Sending Telemetry to Kaa",
    "info": "Example of sending telemtry data to kaa",
    "x": 150,
    "y": 300,
    "wires": []
  },
  {
    "id": "9d35257d.040298",
    "type": "inject",
    "z": "7eddf7e8.3a94e8",
    "name": "Init",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0",
    "x": 110,
    "y": 80,
    "wires": [
      [
        "dd84eaa0.c19b18"
      ]
    ]
  },
  {
    "id": "dd84eaa0.c19b18",
    "type": "function",
    "z": "7eddf7e8.3a94e8",
    "name": "Init Global",
    "func": "global.set('DeviceToken', 'yourToken');\nglobal.set('AppVersion', 'yourAppVersion');\n\nconsole.log('kaa_client')\nconsole.log('DeviceToken:', global.get('DeviceToken'))\nconsole.log('AppVersion:', global.get('AppVersion'))\n\nvar deviceToken = global.get('DeviceToken');\nvar appVersion = global.get('AppVersion');\n\nmsg.payload = 'DeviceToken: ' + deviceToken + '; AppVersion: ' + appVersion;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 80,
    "wires": [
      [
        "b5aad5ea.80c9d8"
      ]
    ]
  },
  {
    "id": "b5aad5ea.80c9d8",
    "type": "debug",
    "z": "7eddf7e8.3a94e8",
    "name": "Initial Variables",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 720,
    "y": 80,
    "wires": []
  },
  {
    "id": "bab967a5.742038",
    "type": "debug",
    "z": "7eddf7e8.3a94e8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 710,
    "y": 180,
    "wires": []
  },
  {
    "id": "cacc758b.f4b448",
    "type": "comment",
    "z": "7eddf7e8.3a94e8",
    "name": "Initialization",
    "info": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "b662018c.77f55",
    "type": "function",
    "z": "7eddf7e8.3a94e8",
    "name": "Telemetry Data",
    "func": "var deviceToken = global.get('DeviceToken');\nvar appVersion = global.get('AppVersion');\n\nmsg.topic = 'kp1/' + appVersion + '/dcx/' + deviceToken + '/json/1';\n\nmsg.payload.timestamp = new Date().getTime()\ndelete msg.payload.model;\nmsg.payload = [msg.payload];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 340,
    "wires": [
      [
        "e5b6ee2a.8f12a",
        "288fc079.cc7d4"
      ]
    ]
  },
  {
    "id": "1bd2fecf.dd9661",
    "type": "Bme280",
    "z": "7eddf7e8.3a94e8",
    "name": "",
    "bus": "1",
    "address": "0x76",
    "topic": "",
    "extra": false,
    "x": 320,
    "y": 340,
    "wires": [
      [
        "b662018c.77f55"
      ]
    ]
  },
  {
    "id": "ccf67e66.fe83c",
    "type": "mqtt-broker",
    "z": "",
    "name": "mqtt.cloud.kaaiot.com",
    "broker": "mqtt.cloud.kaaiot.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
